@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Courgette;
    src: url(assets/Courgette-Regular.ttf);
}

body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: "RobotoCondensed";
    background-color: #e7ecef;
}

body h1, h2, h3, h4, h5 {
    font-family: "Courgette";
}

/* .profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
} */